<div class="discord-message">
  <div class="avatar">{{ message.authorName[0] | uppercase }}</div>
  <div class="message-content">
    <div class="header">
      <span class="author">{{ message.authorName }}</span>
      <span class="date">{{ message.sendDate[2] }}/{{ message.sendDate[1] }}/{{ message.sendDate[0] }} {{ message.sendDate[3] }}:{{ message.sendDate[4] | number:'2.0' }}</span>
    </div>
    <div class="content">{{ message.content }}</div>

    @if (message.reactions?.length){
      <div class="reactions">
        @for (reaction of message.reactions; track message.id) {
          <span class="reaction">
            {{ reaction.emoji }}
          </span>
        }
      </div>
    }
  </div>
</div>
