<div class="all-of-message" [ngClass]="{'all-of-message-hover': !isRespondSelected(message)}">
  <div class="discord-message" [ngClass]="{'blue-background': isRespondSelected(message)}">
    <div class="avatar">{{ message.authorName[0] | uppercase }}</div>
    <div class="message-content">
      <div class="header">
        <div class="header-left">
          <span class="author">{{ message.authorName }}</span>
          <span class="date">{{ message.sendDate[2] }}/{{ message.sendDate[1] }}
            /{{ message.sendDate[0] }} {{ message.sendDate[3] }}:{{ message.sendDate[4] | number:'2.0' }}</span>
        </div>
        <div class="header-right">
          <svg (click)="addNewEmoji()" class="icon_f84418" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM6.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-9.8 1.17a1 1 0 0 1 1.39.27 3.5 3.5 0 0 0 5.82 0 1 1 0 0 1 1.66 1.12 5.5 5.5 0 0 1-9.14 0 1 1 0 0 1 .27-1.4Z" clip-rule="evenodd" class=""></path></svg>
          <svg (click)="setRespondMess()" class="icon_f84418" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M2.3 7.3a1 1 0 0 0 0 1.4l5 5a1 1 0 0 0 1.4-1.4L5.42 9H11a7 7 0 0 1 7 7v4a1 1 0 1 0 2 0v-4a9 9 0 0 0-9-9H5.41l3.3-3.3a1 1 0 0 0-1.42-1.4l-5 5Z" class=""></path></svg>
          @if (isAdmin){
            <svg (click)="deleteMess()" class="icon_c1e9c4" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z" class=""></path><path fill="currentColor" fill-rule="evenodd" d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z" clip-rule="evenodd" class=""></path></svg>
          }
        </div>
      </div>
      <div class="content">{{ message.content }}</div>
<!--      <div class="content" [innerHTML]="messageText()"></div>-->
      @if (message.reactions?.length) {
        <div class="reactions">
          @for (reaction of message.reactions; track message.id) {
            <span class="reaction">
            {{ reaction.emoji }}
          </span>
          }
        </div>
      }
    </div>
  </div>
</div>
