<div class="modal-backdrop">
  <div class="modal">
    <div class="header-modal">
      <span>Paramètres du sujet</span>
      <div class="button-close"  (click)="onExit()" aria-label="Fermer">
        x
      </div>
    </div>
    <label>
      <input type="checkbox" [checked]="subject.isPublic" (change)="togglePublic()"/>
      Sujet public
    </label>
    @for (user of users; track user.id) {
    <div class="user-item">
      <div (click)="toggleUser(user)" [class.selected]="isUserInSubject(user)">
        {{ user.login }}
      </div>
    </div>
    }
    <div class="footer-modal">
      <button class="btn-new" (click)="onNewChannel()">New Channel</button>
      <button class="btn-del" (click)="onDeleteSubject()">Delete Subject</button>
    </div>
  </div>
</div>
@if (modalValidationDeletionVisible) {
  <app-validation-modal
    [yesText]="'Oui'"
    [noText]="'Annuler'"
    [message]="'Êtes-vous sûr de vouloir supprimer ce Subject ?'"
    (yes)="onModalValidationDeletionYes()"
    (no)="onModalValidationDeletionNo()">
  </app-validation-modal>
}
@if(modalValidationCreationChannelVisible){
  <app-validation-with-text-input-modal
    [yesText]="'Créer'"
    [noText]="'Annuler'"
    [message]="'Entrez le nom du nouveau canal :'"
    [placeholder]="'Nom du canal'"
    (yes)="onModalValidationCreationChannelYes($event)"
    (no)="onModalValidationCreationChannelNo()">
  </app-validation-with-text-input-modal>
}

